<div style="height: 100vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mat-elevation-z8">
            <span>Smash Tourney </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-drawer-container class="drawer-container" autosize hasBackdrop>
        <mat-drawer #drawer class="example-sidenav mat-sidenav-menu" mode="push" fxLayout="column">
            <div id="menu-items" fxLayout="column" class="side-menu">
                <mat-nav-list>
                    <a mat-list-item>
                        <mat-icon>create</mat-icon>
                        <span>Create new tourney</span>
                    </a>
                    <a mat-list-item>
                        <mat-icon>history</mat-icon>
                        <span>View past results</span>
                    </a>
                </mat-nav-list>
            </div>
        </mat-drawer>
        <div class="sidenav-content">
            <mat-toolbar color="primary">
                <div id="side-mobile-menu" fxShow="true" fxHide.gt-sm="true">
                    <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <h3>{{location}}</h3>
            </mat-toolbar>
            <div id="content" fxLayout="row">
                <div id="menu-big" fxShow="true" fxHide.lt-md="true">
                        <div id="menu-items" class="side-menu" fxLayout="column">
                            <mat-nav-list>
                                <a mat-list-item>
                                    <mat-icon>create</mat-icon>
                                    <span>Create new tourney</span>
                                </a>
                                <a mat-list-item>
                                    <mat-icon>history</mat-icon>
                                    <span>View past results</span>
                                </a>
                            </mat-nav-list>
                        </div>
                </div>
                <div id="main-content">
                    Main Content goes here!
                </div>
            </div>
        </div>
    </mat-drawer-container>
    
</div>