.sidenav-content {
    height: 100%;
}

.drawer-container {
    height: 100%;
    margin-top:2vh
}

.location-toolbar {
    font-size: 2.5vh;
}

.side-menu {
    background-color: #eeeeee;
    font-size: 1.8vh;
}